$raisinBlack: #231F20;
$linen: #F8F5F1;
$mediumChampagne: #F3DFA2;
$lightCora: #FF686B;
$blueYonder: #587792;
$slimyGreen: #379634;
$blueYonderAlpha: rgba(88, 119, 146, .2);
$darkLinen: rgba(173, 171, 168, .2);
// 
$border: 1px solid red;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $raisinBlack;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-width{
  max-width: 1400px;
  margin: auto;
}

.link-decoration{
  color: $raisinBlack;
  text-decoration: none;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-case{
  text-transform: uppercase;
}

.app{
  min-height: 100vh;
  height: fit-content;
  background-color: $linen;
}

.header-info{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  height: 40px;
  // font-size: calc(100vw /150 * 1.8);
  font-size: 15px;
  border-bottom: 1px solid $blueYonderAlpha;

  & a{
    margin: .5vh;
  }

  .contacts{
    @extend .flex-center;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .questions{
    @extend .flex-center;
    grid-column-start: 8;
    grid-column-end: 10;
  }
}

//if its inside the parent with that specific

header{
  @extend .header-info;
  height: 80px;
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: $linen;

  .logo{
    @extend .contacts;
  }

  .header-nav{
    @extend .flex-center;
    grid-column-start: 6;
    grid-column-end: 12;

    a {
      font-size: 15px;
    }
    
  }

  .shop{
    border: 3px solid $blueYonder;
    position: absolute;
    width: fit-content;
    top: 80px;
    padding: 50px;
    height: 0px;
    right: 0px;
    display: none;
    opacity: 0;
    transition: .2s;
    background-color: $linen;

    &::before{
      content: '';
      height: 10px;
      width: 10px;
      border-left: 3px solid $blueYonder;
      border-bottom: 3px solid $blueYonder;
      transform: rotate(135deg);
      position: absolute;
      top: -9px;
      right: 15px;
      background-color: $linen;
      // width: 100%;
      // border: $border;
    }
  }

  .header-links-container{
    @extend .upper-case;
    @extend .flex-center;
    height: 80px;
    margin: 0 20px;
    // font-size: calc(100vw /150 * 1.8);
    position: relative;

    &:hover{
      .shop{
        animation: fadeIn .5s;
        animation-fill-mode: forwards; 
        height: fit-content;
        transition: 0.2s;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 99;
      }
    }

    &:focus{
      .shop{
        animation: fadeIn .5s;
        animation-fill-mode: forwards; 
        height: fit-content;
        transition: 0.2s;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 99;
      }
    }

  }
}

// slideshow

.slideshow-wrapper{
  height: 596px;
  width: 100%;
  // border: $border;
  overflow: hidden;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  transition: 1.2s;
  
  &::-webkit-scrollbar{
    display: none;
  }

  .slideshow{
    margin: 0;
    padding: 0;
    animation: slideShow 30s linear infinite ;
    animation-delay: 2s;
  }

  .content-background{
    border: 500px solid transparent;
    border-left: 800px solid $blueYonderAlpha;
    border-bottom: 0;
    position: absolute;
    bottom: 5px;
    margin: 0;
    padding: 0;
  }

  .content-title{
    margin: 0;
    padding: 0;
  }

  .slideshow-content{
    position: absolute;
    bottom: 150px;
    left: 50px;
    width: 400px;
    padding: 5px 15px;
    overflow: hidden;
    color: $linen;
    animation: contentMove 7.8s infinite;
  }

  .content-info{
    margin: 0;
    padding: 0;
  }

  .slideshow-image-container{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: -4px;
  }

  .slideshow-image{
    height: 600px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    margin-top: 0px;
  }
}

// reasons
.reasons{
  position: relative;
  @extend .flex-center;
  width: 100%;
}

.reason{
  @extend .flex-center;
  flex-direction: column;
  margin: -75px 25px 0 25px;
}

.reason-text{
  text-align: center;
  color: $mediumChampagne;
  font-weight: bold;
  font-size: 24px;
}

.image-container{
  @extend .flex-center;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-color: $linen;
  border: 3px solid $mediumChampagne;
  margin: 0;
}

.reason-image{
}

.reason-blue-border{
  border-color: $blueYonder;
}

.reason-blue-text{
  color: $blueYonder;
}

.reason-red-border{
  border-color: $lightCora;
}

.reason-red-text{
  color: $lightCora;
}

.reason-green-border{
  border-color: $slimyGreen;
}

.reason-green-text{
  color: $slimyGreen;
}

//getQuote

.get-quote-container{
  text-align: center;
  $getQuoteSpacing: 1.8px;

  .get-quote-paragraph{
    font-size: 18px;
  }

  .get-quote-title{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: $getQuoteSpacing;
    position: relative;
    width: fit-content;
    margin: auto;
    padding-bottom: 15px;
  // move this to own class
    &::before{
      content: '';
      background-color: $blueYonderAlpha;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 3px;
    }

    &::after{
      content: '';
      background-color: $lightCora;
      position: absolute;
      bottom: 0;
      right: 42.5%;
      height: 3px;
      width: 15%;
    }
  }

  button{
    color: $blueYonder;
    background-color: transparent;
    font-size: 22px;
    letter-spacing: $getQuoteSpacing;
    padding: 30px 50px;
    border: 2px solid $blueYonderAlpha;
    border-radius: 5px;
    position: relative;
    top: 123px;
    background: $linen;
  }
}

//Services
.services{
  margin-top: 80px;
  @extend .flex-center;
  align-items: flex-start;
  height: fit-content;
  margin-bottom: 50px;
  padding-top: 80px;
  border-top: 1px solid $blueYonderAlpha;

  .title-and-services{
    width: 50%;
  }

  .services-title{
    font-size: 32px;
    font-weight: 400;
  }

  .services-list-container{
    padding: 0;
  }

  .services-list{
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    padding-left: 0;
    border-bottom: 2px dashed $blueYonder;
  }

  .services-list-image{
    margin-right: 5px;
  }

  .services-image-container{
    border: 3px solid $blueYonder;
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: fit-content ;
    margin-left: 25px;
  }

  .services-image-transition-container{
    @extend .flex-center;
    // border-radius: 50%;
    overflow: hidden;    
    width: 100%;
    height: 100%;
  }

  .services-main-image{
    padding: 15px;
    // border: $border;
    object-fit: cover;
    height: 450px;
    border-radius:50%;
    width: 450px;
    // border-radius: 50%;
  }
}

// packages
.packages{
  background-color: $darkLinen;

  .packages-title{
    text-align: center;
    font-size: 43px;
    font-weight: 400;
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 25px 0px 15px 0;
    margin-bottom: 25px;

    &::before{
      content: '';
      background-color: $blueYonderAlpha;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 3px;
    }

    &::after{
      content: '';
      background-color: $lightCora;
      position: absolute;
      bottom: 0;
      right: 42.5%;
      height: 3px;
      width: 15%;
    }
  }

  .packages-desc{
    width: 50%;
    margin: auto;
    text-align: center;
  }
}

.packages-cards-container{
  // border: $border;
  min-height: 450px; 
  margin-top: 50px;

  .packages-cards-max-width-container{
    @extend .flex-center;
  }

  .package-card-container{
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: $linen;
    width: 21%;
    margin: 0 2%;
    height: 360px;
    text-align: center;
    border-radius: 5px;
    // padding: 15px;
    transition: .2s;
    cursor: pointer;

    &:hover{
      box-shadow: -7px 8px 5px 3px $darkLinen;
      transform: translateY(-8px);
      .package-card-title{
        background-color: $lightCora;
        color: $linen;
        transition: .2s;
      }

      .package-card-price{
        transition: .2s;
        color: $lightCora;
      }

      .package-card-button{
        background-color: $lightCora;
        color: $linen;
        border: none;
        transition: .2s;
      }
    }
  }

  .package-card-title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // height: 17%;
    font-weight: 400;
    padding: 20px 15px;
    margin: 0;
    border-bottom: 1px solid $blueYonderAlpha;
  }

  .package-card-price{
    font-size: 32px;
    margin: 15px 0 0 0 ;
    font-weight: bold;
    transition: .2s;
  }

  .package-card-terms{
    font-weight: 300;
    font-size: 14px;
  }

  .package-card-desc{
    padding: 0 35px;
  }

  .package-card-button{
    border: 1px solid $blueYonder;
    width: 50%;
    margin: auto;
    text-decoration: none;
    color: $raisinBlack;
    padding: 15px 15px;
    border-radius: 5px;
  }

  .package-default-title{
    background-color: $lightCora;
    color: $linen;
  }

  .package-default-price{
    color: $lightCora
  }

  .package-default-button{
    background-color: $lightCora;
    color: $linen;
    border: none;
  }
}

.sticky-promo{
  position: sticky;
  transition: .5s;
  top: 80px;
  background-color: $raisinBlack;
  color: $linen;
  padding: 3px;
  z-index: 98;
  text-align: center;

  a{
    padding-left: 15px;
    color: white;
    transition: .2s;
    
    &:hover{
      transition: .2s;
      text-decoration: none;
    }
  }
}

.quote-form-container{
  @extend .flex-center;
  height: 320px;
  background-image: url(https://dtweclean.wpengine.com/wp-content/uploads/2016/01/custom-package-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  .inner-quote-container{
    display: flex;
    justify-content: space-between;
  }

  .quote-form-image-section{
    width: 50%;
    height: 320px;
    @extend .flex-center;
  }

  .quote-form-image-section-img{
    margin-top: -70px;
    height: 320px;
    border-radius: 15px;
    box-shadow: -5px 8px 4px 0 $darkLinen;
  }

  form{
    @extend .flex-center;
    flex-direction: column;
    color: $raisinBlack;
    padding: 15px;

    input{
      border-radius: 5px;
      width: 48%;
      font-size: 18px;
      padding: 15px 0;
      margin: 10px 4px;
      border: none;
      text-indent: 15px;
      background-color: $linen;
    }

    .quote-form-email{
      width: 98.4%;
    }

    .quote-form-button{
      background-color: $linen;
      width: 98.4%;
      border: 1px solid $lightCora;
      border-radius: 5px;
      font-size: 22px;
      padding: 10px;
      transition: .2s;
      cursor: pointer;
      margin-top: 10px;
      font-weight: 200;

      &:hover{
        background-color: $lightCora;
        color: $linen;
      }

      &:focus{
        background-color: $lightCora;
        color: $linen;
      }
    }


  }
}

footer{
    @extend .header-info;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: $linen;
  
    .logo{
      @extend .contacts;
    }
  
    .footer-nav{
      @extend .flex-center;
      grid-column-start: 6;
      grid-column-end: 12;
  
      a{
        font-size: 15px;
      }
    }
}


@keyframes buttonPress {
  from {
    box-shadow: 5px 5px 0px 0 $lightCora;
  }
  to{
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes contentMove{
  0%{left:-420px;}
  10%{left:-420px;}
  15%{left:-420px;}
  30%{left:20px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:0px;}
  90%{left:0px;}
  100%{left:-420px;}
}

@keyframes slideShow{
  0%,100%{
    margin-top: 0;
  }

  21%{
    margin-top: 0;
  }

  25%{
    margin-top: -601px;
  }

  46%{
    margin-top: -601px;
  }

  50%{
    margin-top: -1201px;
  }

  71%{
    margin-top: -1201px;
  }

  75%{
    margin-top: -1801px;
  }

  96%{
    margin-top: -1801px;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}